.page {
  &-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &-sidenav {
    background: lightblue;
    height: 100%;
  }
  &-content {
    background: #dfdfdf;
    height: 100%;
  }
  &-logo {
    position: relative;
    height: 64px;
  }
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
