<section class="main-page" fxFill>
  <gx-drawer #drawer fxFlex>
    <div class="page-sidenav" sidenav>
      <div class="">
        <div class="page-logo">
          <h2 class="center">
            <gx-icon [fontIcon]="'icon-earth'"> </gx-icon>
          </h2>
        </div>
        <mat-selection-list #shoes [multiple]="false">
          <mat-list-option
            *ngFor="let module of typesOfShoes"
            [value]="module.route"
            [routerLink]="module.route"
          >
            {{ module.name }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="page-content" content>
      <gx-toolbar>
        <gx-button
          [type]="'icon'"
          [iconTemplate]="menuIcon"
          (click)="drawer.toggle()"
        >
          <ng-template #menuIcon>
            <gx-icon [fontIcon]="'icon-list1'"></gx-icon
          ></ng-template>
        </gx-button>
        <span>Welcome to Gx World</span>
      </gx-toolbar>
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>
  </gx-drawer>
</section>
