@import './../../../libs/theme/src/lib/styles.scss';
.mat-list-base {
  padding-top: 0 !important;
}

// For mobile
// mobile view css should be in application
.mat-drawer {
  @include respond(phone) {
    width: 100%;
  }
}

.mat-toolbar {
  background: #ffffff;
  border-radius: 8px;
}
