/* You can add global styles to this file, and also import other style files */

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit;
}

html {
  font-size: 13px;
  box-sizing: border-box;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  line-height: 1.7;
  padding: 1rem;
}
