<section fxLayout="column" class="page" fxLayoutAlign="center stretch ">
  <section>
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayoutAlign="center center">
        Chapter 01
      </mat-toolbar-row>
      <mat-toolbar-row fxLayoutAlign="center center">
        संत ज्ञानेश्वर
      </mat-toolbar-row>
    </mat-toolbar>
  </section>
  <section fxFlex class="page--content">
    अधिक देखणें तरी निरंजन पाहणें । <br>
    योगिराज विनविणें मना आलें वो माये ॥१॥ <br><br>
    देहबळी देउनी साधिलें म्यां साधनीं ।<br>तेणें समाधान मज जोडलें वो माये
    ॥२॥<br><br>अनंगपण फिटलें मायाछंदा सांठविलें ।<br>सकळ देखिलें आत्मस्वरूप वो माये
    ॥३॥<br><br>चंदन जेवीं भरला अश्वत्थ फुलला ।<br>तैसा म्यां देखिला निराकार वो माये
    ॥४॥<br><br>पुरे पुरे आतां प्रपंच पाहणें ।<br>निजानंदी राहणे स्वरूपीं वो माये
    ॥५॥<br><br>ऐसा ज्ञानसागरू रखुमादेविवरू ।<br>विठ्ठलु निर्धारू म्यां देखिला वो माये
    ॥६॥'
  </section>
  <section fxLayout="row" class="page--footer">
    <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
    <span fxFlex fxLayoutAlign="center center"> <3/3> </span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
  </section>
</section>
